@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.Course-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  }
  
  .searches
  {
   margin-top: 10px;
  }
  .search-results
  {
    width: 400px;
    border-radius: 10px;
    height: 150px;
    border: 2px solid #bbbb;
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  
.home-icon
{
  margin-top: 18px;
  margin-right: 5px;
  color: rgb(128, 127, 127);
}

  .user-img
  {
    width:25px;
    height: 25px;
    cursor: pointer;
   
    margin-left: -950px;
    margin-right: 0px;
    margin-top: -45px;
    border-radius: 100px;
  }
  .welcoming
  {
    margin-left: -830px;
     margin-top: -28px;
     font-family: Montserrat;
     color: #b0b0b0;
     font-weight: 600;
     font-size:13px;
  }
  .my
  {
    margin-left: -820px;
    margin-top: -18px;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
    
  }
  
  .Page-title
  {
    margin-left: -900px;
    margin-top: 30px;
   font-family: montserrat;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  
  .Course-status {
    width: 550px;
    height: 120px;
    background-color: whitesmoke;
    margin-top: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }

  
  .open-course-modal {
    width: 80%;
      height: 50px;
      text-align: left;
      color: rgba(84, 84, 84, 0.89);
      background-color: whitesmoke;
      outline: none;
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      margin-left: -30px;
      cursor: pointer;
      padding: 15px;
      font-weight: 600;
      font-size: 14px;
      font-family: system-ui, sans-serif;
  }
  .post-cardings
  {}
  .open-course-modal:hover {
    background-color: #dcdbdb;
  }

