@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.Course-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  }
  .Search-bar {
    display: flex;
    align-items: center;
justify-content: center;
margin-left:0px;
margin-right: 250px; 
    border: solid black;
    border-radius: 20px;
  }
  
  .Searching {
    width: 400px;
    height: 30px;
    margin-left: 20px;
    border-style: hidden;
  }
  .quotation
  {
    font-family: 'Montserrat';
    font-weight: 900;
    .quote-foot
    {
      font-size: 11px;
      margin-left: 89%;
      margin-top: 0px;
      font-family: system-ui;
      font-weight: 400;
    }
    .quote-head{
      margin-bottom: 0px;
    }
  }
  .Page-title
  {
    margin-left: -820px;
    text-decoration: underline;
    color: rgb(41, 89, 233);
    display: flex;
    justify-content: space-between;
    .Page-title-home{
      color: black;
      text-decoration: none;
    }
  }
  
  .Course-status {
    width: 550px;
    height: 120px;
    background-color: whitesmoke;
    margin-top: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  
 
  
  .open-course-modal {
    width: 80%;
      height: 50px;
      text-align: left;
      color: rgba(84, 84, 84, 0.89);
      background-color: whitesmoke;
      outline: none;
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      margin-left: -30px;
      cursor: pointer;
      padding: 15px;
      font-weight: 600;
      font-size: 14px;
      font-family: system-ui, sans-serif;
  }
  
  .open-course-modal:hover {
    background-color: #dcdbdb;
  }
  
 
