$Eduhub2: #0073b1;
$Eduhub3: #004c75;

.mainPage {
  border-radius: 15px;
 
  background-color: #49c5b6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.Cusat-short-title
{
    color: rgb(69,69,69);
    font-family: montserrat;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
}
.Cusat-detail {
  color: rgba(250, 250, 250);

  .Cusat-detail-header {
    .Cusat-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 500px;
      padding: 0 50px;

      .title {
        display: flex;
        align-items: center;

        .Cusat-caption {
          display: flex;
          align-items: center;
          margin-top: -300px;
          margin-left: 40%;

          .cap {
            width: 180px;
            margin-top: 50px;
            margin-right: 10px;
          }

          .Cusat-coursename {
            font-size: 80px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            justify-content: center;
            margin-bottom: 0;
            line-height: 1;
          }
        }

        .Bottomer {
          margin-left: 0;
          font-size: 30px;
          font-family: montserrat;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }

  .Cusat-desc {
    margin-top: -200px;
    margin-left: 50px;

    .Cusat-desc-heading {
      font-family: Montserrat;
      color: rgb(69,69,69);
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 10px;
      text-decoration: underline;
    }

    .desc-sub {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  .Cusat-mini-title {
    margin-top: 30px;
    color: rgb(69,69,69);
    margin-left: 45px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
  }

  .mini-features {
    margin-left: 50px;
    font-family: Montserrat;
    font-size: 18px;
  

    .rows {
      margin-left: 0px;
      margin-top: 60px;
      line-height: 1.5;
      list-style:decimal;
      font-weight: 600;
    }
  }

  ul {
    padding-left: 20px;
  }

  .selection {
    height: 40px;
    width: 200px;
    background-color: #fff;
    outline: none;
    border: 1px solid #212121;
    font-family: Montserrat;
    font-weight: 600;
    color: #212121;
    border-radius: 3px;
    margin: 10px 0;

    &:focus {
      outline: 1px solid #0072b1;
    }
  }

  .footer-heading {
    font-weight: 700;
    margin-bottom: 5px;
    font-family: Montserrat;
    color:rgb(69,69,69);
    text-decoration: underline;
    font-size: 20px;
  }

  .cusat-footer {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -60px;
    height: 300px;
  }
}

.goto-course-button {
  padding: 10px 20px;
  background-color: rgb(236, 3, 3);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $Eduhub3;
  }
}

.Cusat-coursename {
  white-space: nowrap;
  overflow: hidden;

}

.cs-page
{
    border-radius: 15px;
    height: 900px;
    border: 35px solid black;
    background-color: #49c5b6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.Branch
{
    font-family: montserrat;
    white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
 

}
.cs-footer
{
    margin-top: -200px;
    height: 600px;
    margin-left: 100px;
}
.Cusat-cs-caption {
    display: flex;
    align-items: center;
    margin-top: -300px;
   margin-left: 10%;
}
.comp
{
    width: 180px;
}
.Branch-desc-heading {
    font-family: Montserrat;
    color: rgb(69,69,69);
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-left: -10px;
    text-decoration: underline;
  }
  .QPbox
  {
    
    width: 20%;
    margin-left: 0px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
  }
  .QPbox:hover
  {
    background-color: rgb(155, 152, 152);
  }
  .Resources
  {
    margin-top: 50px;
     padding: 10px 20px;
  background-color: rgb(236, 3, 3);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $Eduhub3;
  }
  }
  .cusat-footer-heading
  {
    font-weight: 700;
    margin-bottom: 5px;
    font-family: Montserrat;
    color:rgb(69,69,69);
    text-decoration: underline;
    font-size: 20px;
    margin-top: 350px;
  }