.MaterialsPage {
    width: 100%;
    height: 100vh; /* Set the height to 100vh for full page height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .PDFContainer {
    width: 100%;
    height: 100%; /* Adjust the width as desired */
    margin-bottom: -100px;
  }
  