.topbar-main {
  width: 12%;
  height: 60px;
 
  display: flex;
  align-items: center;
  gap:40px;
  margin-left: 87%;
border-radius: 10px;

margin-bottom: 0px;
  
}



.user
{
  width:25px;
  height:30px;
  cursor: pointer;
  border: 3px solid rgb(250, 249, 249);
  margin-left: 65px;
  border-radius: 50px;
  margin-right: 0px;
  
}
.username{
  margin-top: 20px;
  margin-left: -30px;
  font-size: 18px;
 color: white;
 font-family: montserrat;
 font-weight: 600;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}
.small-title
{
  margin-top: 45px;
margin-left: -80px;
font-size: 11px;
color: #b0b0b0;
font-weight: 700;
font-family: Montserrat;
}
.arrow-icon {
  color: blue; // Example color
  font-size: 90px; // Example font size
  /* Add any other desired styles for the arrow icon */
  width: 200px;
}
.drop
{
  width:30px;
  height: 10px;
  cursor: pointer;
 border-radius: 100px;
  margin-left: -20px;
 
  margin-right: 0px;
}