.Owned
{
    margin-left: 30%;
    
}

.my-title
{
    margin-left: -200px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
}
.mycourse
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: -60px;
}