.react-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; /* Update the height to 100% */
  position: fixed;
    color:#212121;
margin-top:-60px;
    font-weight: 900px;
    gap:50px;
    width:15%;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 z-index: 1;
 
 

  }
  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 1px;
  }
  
  .logo {
    width: 40px;
    margin-left: 20px;
  }
  
  .logo-label {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
  }
  

.react-icon
  {
    display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px; 
  margin-left: 25px;
  
  }

  .icon-only{
    margin-top: 5px;
  }
.icon-label {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 20px;
    margin-top: 3.5px;
    margin-left: 15px;
    text-decoration: none;
    color: #212121;
    white-space: nowrap;
    position: relative;
  }
  
  .icon-label.underline {
    position: relative;
  }
  
  .icon-label.underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; /* Set the color of the underline */
    transition: 0.35s;
    transform: scaleX(0);
    transform-origin: left center;
  }
  
  .icon-label:hover {
    color: #518de7;
  }
  
  .icon-label:hover::after {
    transform: scaleX(1);
  }
  






