.HeadBar-main {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    gap:40px;
    padding: 10px;
    
  
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 25px;

  }
  
  .logo {
    width: 40px;
    margin-left: 20px;
  }
  
  .logo-label {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    font-size: 40px;
  }
  
  .Search-bar {
    display: flex;
    align-items: center;
    margin-left: 305px;
    border: solid black;
    border-radius: 20px;
  }
  
  .Searching {
    width: 400px;
    height: 30px;
    margin-left: 20px;
    border-style: hidden;
  }
  .user
  {
    width:35px;
    cursor: pointer;
  }
  .users{
    margin-left: 25%;
  }
  .popup-position {
    position: absolute;
    right: 10px;
    top: 65px;
    z-index: 99;
  }