.phone-number
{
    font-family: Montserrat;
   
    margin-left: 21px;
    display: flex;
}
.phone
{
    width: 14px;
    height: 14px;
   margin-top: 15px;
   margin-left: -19px;
}
.number
{
    margin-left: -145px;
   margin-top: 45px;
}
.no-head
{
    margin-top: 10px;
    margin-left: 1px;
    font-size: 14px;
    font-family: montserrat;
    font-weight: 600;
}

.github-head
{
    margin-top: -26px;
    margin-left: 20px;
    font-size: 14px;
    font-family: montserrat;
    font-weight: 600;
}
.git-icon
{
    font-size: 20px;
    margin-top: 15px;
}
.git-link
{
    margin-left: 20px;
    margin-top: -500px;
}
.mail-head
{
    margin-top: -26px;
    margin-left: 22px;
    font-size: 14px;
    font-family: montserrat;
    font-weight: 600;
}
.link-head
{
    margin-top: -26px;
    margin-left: 20px;
    font-size: 14px;
    font-family: montserrat;
    font-weight: 600;
}