@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.posts-card {
.like-container{
    display: flex;
    align-items: center;
    gap:5px;
    padding: 7px 10px;
    cursor: pointer;

    p{
        font-family: 'Montserrat',sans-serif;
        font-weight: 800;
        color: rgba(0,0,0,0.835);
        font-size: 15px;
    }
    
}
}
