.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 40px;
    z-index: 0;
    color: #ffffff;
  }
  

/*logo*/
.title{
    font-size: 40px;
    font-weight: 800;
margin-top: 8px;
   
}

.logonav {
    display: flex;
    height: 5rem;
    font-weight: 900;
    font-size: 40px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1; /* Add this line */
  }
  
.H
{
    color:black ;
}

.logo-img
{
    width: 3rem;
    height: 3rem;
    margin-left: 0.2rem;
    font-size: 1.6rem;
    margin-top: 5px;
}

/*logo*/

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
 margin-left: 790px;

 margin-top: -5px;

 
}




/*nav-links*/

.nav-links{
    text-decoration: none;
    color: rgb(250, 247, 247);
    padding: 0.7rem 1rem;
    white-space: nowrap;
    position: relative;
    font-family: 'Montserrat','sans-serif';
    font-weight: 500;
}





.nav-links:hover {
    color: rgba(212, 212, 212, 0.6); /* Change to the desired color */
    transition: 0.5s;
  }
  

.nav-links:hover::after,
.nav-links:focus::after {
  opacity: 1;
    
}
