.delete-video-button
{
    margin-left: 96%;
    background-color: red;
    cursor: pointer;
    height: 30px;
    color: white;
}
.delete-video-button:hover
{
    background-color: rgb(123, 17, 17);
}
