.react-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90vh;
  margin-left: -10px;
  margin-top:-10px;
  width: 250px;
  background-color: #051e34;
  color: rgba(255, 255, 255, 0.87);
  padding-top: 20px;
}


.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.cusat-logo {
  width: 30px;
}

.logo {
  width: 40px;
}

.logo-name {
  font-family: 'montserrat', sans-serif;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.react-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px;
  transition: background-color 0.3s;
}

.react-icon:hover {
  background-color: #555;
}

.icon-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
}

.icon-label.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #007bff;
  opacity: 0;
  transition: opacity 0.3s;
}

.react-icon:hover .icon-label.underline::after {
  opacity: 1;
}

.horizontal-line {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid white
}