.course-card {
    width: 100px;
    height: 250px;
    background-color: whitesmoke;
    margin-top: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .course-card .status {
   width:200px;
  
  }
  