@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Apercu Mono Pro Regular';
  src: url("C:\Users\User\Desktop\ApercuMonoProRegular.ttf") format('woff2'),
       url('path/to/font-file.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.posts-card {
  cursor:pointer;
  background-color: white;
  border: 2px solid   rgba(0, 0, 0, 0.6);
  
  width: 900px;
  height: 150px;
  padding: 10px;

  margin-top: 100px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.posts-card:hover {
  background-color: rgba(238, 238, 238, 0.3);
}

.post-image-wrapper {
  display: flex;
  padding: 15px;
  gap: 10px;
  position: relative;
}

.profile-image {
  width: 10px;
  height: 7px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-family: 'Apercu Mono Pro Regular', monospace;
  font-size: 12px;
  color: #678ed7;
  font-weight: 600;
  margin-left: 260px;
  cursor: pointer;
  margin-top: 0px;
  height: auto;
  margin-bottom: 0px;
}

.headline {
  font-family: system-ui, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin: 0px 0 0 0px;
}

.timestamp {
  font-family: 'Apercu Mono Pro Regular', monospace;
  font-size: 13px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-top: -30px;
  margin-left: 255px;
  display: flex;
}

.Course-Name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  margin-left: 260px;
  margin-top: 2px;
  height: auto;
  margin-bottom: 0px;
}

.status {
  text-align: left;
  width: 60%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 0px;
  margin-left: 260px;
  margin-bottom: 0px;
  height: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.Course-Price {
  display: flex;
  justify-content: space-between;
  width:7%;
  margin-left:800px;
  margin-top: -170px;
  font-family: montserrat;
  font-weight: 900;
  font-size: 19px;
}

.mentorliking
{
  margin-left: 248px;
  margin-top: -20px;
}

.action-container {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  top: 10px;
}

.action-icon {
  color: #474747;
  padding: 10px;
}

.action-icon:hover {
  color: #000000;
  background-color: #b7b7b7;
  padding: 10px;
  border-radius: 50%;
}

.post-image {
  cursor: pointer;
  width: 10%;
}

.modal {
  margin-top: 30px;
}
.amt-course
{
  margin-left: -600px;
}
.post-photo {
  cursor: pointer;
  border: 2px solid  rgba(0, 0, 0, 0.6);
  width: 190px;
  height: 140px;
  margin-top: -142px;
  margin-left: 0px;
}
