.mentor-card {
    cursor: pointer;
    border: 2px solid   rgba(0, 0, 0, 0.6);
    width: 900px;
    height: 140px;
    padding: 10px;
    margin-top: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative; /* Added position relative */
  }

  .action-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }
  .change-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
  }
  
  
  .action-icon > * {
    cursor: pointer;
  }
  
  .mentor-post-photo {
    cursor: pointer;
    width: 190px;
    height: 140px;
    margin-top: -126px;
    margin-left: 0px;
    border: 1px solid black;
  }
  .Mentor-Price {
    display: flex;
    justify-content: space-between;
    width:7%;
    margin-left:830px;
    margin-top: -140px;
    font-family: montserrat;
    font-weight: 900;
    font-size: 19px;
  }
  .likings
  {
    margin-left: 248px;
    margin-top: -20px;
  }
  .mentortimestamp
  {
    font-family: 'Apercu Mono Pro Regular', monospace;
    font-size: 13px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin-top: 10px;
    margin-left: 260px;
    display: flex;
  }
  .mentorCourse-Name
  {
    font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  margin-left: 260px;
  margin-top: -22px;
  height: auto;
  margin-bottom: 0px;
  }